*.swp
*.log
*.dump

*.o

env_test/env_test_*
kernels/fmi/fmi
kernels/bsw/bsw
kernels/chain/chain
kernels/seed-raw/step_index
kernels/dsoft-raw/step_ext
kernels/gact-raw/step_align

kernels/chain/build/
